[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6.6"

[packages]
pyrogram = "*"
tgcrypto = "*"
requests = "*"
bs4 = "*"
selenium = "*"
telegraph = "*"
transitions = "*"

[dev-packages]
